<% include partials/header %>
<style>
        
        .intro-2 {
            background: url("https://mdbootstrap.com/img/Photos/Others/img%20(46).jpg")no-repeat center center;
            background-size: cover;
        }
        .top-nav-collapse {
            background-color: #ff8a65 !important; 
        }
        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #ff8a65 !important;
            } 
        }
        .md-form .prefix {
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        h6 {
            line-height: 1.7;
        }
        @media (max-width: 740px) {
            .full-height,
            .full-height body,
            .full-height header,
            .full-height header .view {
                height: 1100px; 
            } 
        }
    </style>

  <!--Intro Section-->
  <section class="view intro-2 hm-stylish-strong">
  <div class="full-bg-img">
      <div class="container flex-center">
          <div class="d-flex align-items-center">
              <div class="row flex-center pt-5 mt-3">
                  <div class="col-md-6 text-center text-md-left mb-5">
                      <div class="white-text">
                          <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">Search</h1>
                          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                          <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.</h6>
                          <br>
                          <a class="btn peach-gradient wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
                      </div>
                  </div>
                  
                  <div class="col-md-6 col-xl-5 offset-xl-1">
                      <!--Form-->
                      <!-- Material form subscription -->
<div class="card">

<h5 class="card-header info-color white-text text-center py-4">
    <strong>Subscribe</strong>
</h5>

<!--Card content-->
<div class="card-body px-lg-5">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

        <p>Join our mailing list. We write rarely, but only the best content.</p>

        <p>
            <a href="" target="_blank">See the last newsletter</a>
        </p>

        <!-- Name -->
        <div class="md-form mt-3">
            <input type="text" id="materialSubscriptionFormPasswords" class="form-control">
            <label for="materialSubscriptionFormPasswords">Name</label>
        </div>

        <!-- E-mai -->
        <div class="md-form">
            <input type="email" id="materialSubscriptionFormEmail" class="form-control">
            <label for="materialSubscriptionFormEmail">E-mail</label>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Sign in</button>

    </form>
    <!-- Form -->

</div>

</div>
<!-- Material form subscription -->
              </div>
          </div>
      </div>
  </div>
</section>